.Rproj.user
.Rhistory
.RData
_book
_bookdown_files
rsconnect
.Rdata
.httr-oauth
.DS_Store

# don't push local rendered files in master branch
_book/
_bookdown_files/
libs/
**/*.bib
**/*.html

# ignore all html files except:
!**/mathjax_header.html
# include bib files
!*.bib
